body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0; 
  z-index: 1000;
}

.contenedor-hijo-header {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.linkConctacto{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.contenedor-img3D {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textTituloname{
  font-size: 18px;
  font-weight: bold;
}

.img-d {
  width: 500px;
  height: 300px;
}


.contendor-infop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

ul {
  list-style: none;
}

.contenedorInfop {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

.contenedor-aplicaciones {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}
.contenedor-aplicaciones2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.contenedorSobremi {
  width: 100%;
  height: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 30px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: center center;
}

.textSobremi{
  font-weight: bold;
}
h3{
  font-weight: bold;
  font-size: 28px;
}



.Fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 100px;
  position: relative;
  top: 20px;
  border-top: solid #f2f2f2;
}	

.contenedorHitoriademi{
  width: 100%;
  height: 150PX;
  display: flex;
  justify-content: center;
}

.contenedorHistoriaMichael{
  width: 35%;
}

.img1 {
  background-image: url(../img/Calculadora\ Prestamo.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img2 {
  background-image: url(../img/ipgeo.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img3 {
  background-image: url(../img/DigiApi.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img4 {
  background-image: url(../img/apidrago.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img5 {
  background-image: url(../img/ipfonumero.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img6 {
  background-image: url(../img/rickmortin.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.contenedor-header:active{
  position: sticky;
  top: 0; 
  z-index: 1000;
}

button{
  padding: 5px 15px;
}

.listaApp{
  transition: 1s;
}

.listaApp:hover{
  transition: 1s;
  transform: scale(1.1);
}

.linkConctacto:hover{
  text-decoration: underline ;
  cursor: pointer;
}

.dark{
 background-color: black;
 color: white;
 
}

.linkCOn{
  color: white; 
}

.scrolled{
  backdrop-filter: blur(10px);
  background-color: #20202380;
}


.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0 ,0, 0.5);
  justify-content: center;
  align-items: center;
}

.contenedorModal{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 600px;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  
}

.contenedorTituloModal{
border-bottom: solid 1px black;
}

.FormularioText{
  font-weight: bold;
  font-size: 20px;
  padding: 0px 30px;
}

.cerrar{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 34px;
  cursor: pointer;
  color: red;
  font-weight: 700;
  transition: all 0.3s ease;
}

label{
  font-weight: bold;
  font-size: 20px;
}

input{
  padding: 5px ;
  height: 20px;
  font-size: 18px;
}

.BntEnviarMensaje{
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.BntEnviarMensaje:hover{
  background-color: rgb(46, 204, 113) ;
  color: white;
}
.BntEnviarMensaje:active{
  background-color: rgb(40, 180, 99 ) ;
  color: white;
}

.bordeColorRed{
  border: solid 1px red;
  background-color: rgba(241, 148, 138, 0.486) ;
}
.cerrar:hover{
  transform: scale(1.2);
}



.contenrdorInfopParaContacto{
  width: 100%;
  height: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.contenrdorInfopParaContacto-hijo{
  width: 50%;
  height: 150px;
 
}

.contenrdorInfopParaContacto-hijo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px  40px;
}

.contenedorRedeSociales{
  display: flex;
  gap: 50px;
  font-size: 45px;
}

i{
  transition: 1s;
  color: black;
}

.redes:hover{
  transition: 1s;
  transform: scale(1.2);
}

.redesInfop{
  color:white;
}

.cerrecolor{
  color: red;
}